---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/layout/Nav.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import CurrentlyExploring from '../components/sections/CurrentlyExploring.astro';
import Experience from '../components/sections/Experience.astro';
import Education from '../components/sections/Education.astro';
import Skills from '../components/sections/Skills.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';

const title = "/dev/daniel | Staff Software Engineer & Researcher";
---

<Layout title={title}>
  <Nav />
  <main>
    <Hero />
    <About />
    <CurrentlyExploring />
    <Experience />
    <Skills />
    <Education />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
